<ion-header>
  <ion-toolbar>
    <ion-title>
      Memorama
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stats">
    <ion-chip>
      <span>Pares:&nbsp;</span><ion-badge>{{ matches }}/{{ pairs }}</ion-badge>
    </ion-chip>
    <ion-chip>
      <span>Intentos:&nbsp;</span><ion-badge>{{ attempts }}</ion-badge>
    </ion-chip>
    <ion-button size="small" fill="outline" (click)="newGame()">Reiniciar</ion-button>
  </div>

  <div class="message" *ngIf="finished">🎉 ¡Completado! Toca “Reiniciar” para jugar otra vez.</div>

  <ion-grid class="board">
    <ion-row>
      <ion-col size="3" size-md="2" size-lg="2" *ngFor="let c of cards">
        <button class="card" [class.revealed]="c.revealed || c.matched" [class.matched]="c.matched"
          [disabled]="boardLocked || c.matched" (click)="onCardClick(c)">

          <div class="face back">?</div>
          <div class="face front">
            <img [src]="c.image" alt="card" />
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>